body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Montserrat", sans-serif, source-code-pro, Menlo, Monaco,
		Consolas, "Courier New", monospace;
}

body {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	background-color: rgb(243 244 246);
}

* {
	/* outline: 1px solid red; */
}

a {
	letter-spacing: 0.1rem;
	transition: all 0.3s linear;
	opacity: 0.7;
}

button {
	transition: all 0.3s linear;
}

a:hover {
	letter-spacing: 0.2rem;
}

.nav_custom {
	margin-top: 40%;
}
.nav {
	width: 30%;
}

.logo {
	letter-spacing: 0.2rem;
}

.my_image {
	animation: borderRadius 20s infinite;
	box-shadow: 0 0 2px 15px rgba(0, 0, 0, 0.6);
	width: 200px;
}

.fixed_nav {
	box-shadow: 1px 0 20px 1px grey;
}

.active {
	opacity: 1;
}

.about_img {
	width: 90%;
	margin: auto;
	height: 80%;
	aspect-ratio: 1/1.2;
}

.modal {
	background: #000000b3;
}

.portfolio_heading {
	background: rgba(0, 0, 0, 0.04);
}

.portfolio_overlay {
	z-index: -20;
	transform: translatex(-500px);
}

.portfolio_overlay:hover {
	z-index: 20;
	transform: translatex(20px);
}

.porfolio_cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 2rem;
}

.news_img {
	transition: all 0.3s linear;
	cursor: pointer;
}

@media (hover) {
}

@media (min-width: 768px) {
	.read_more_span {
		transform: translateX(-100px);
		transition: all 0.3s linear;
		opacity: 0;
		margin-right: -5rem;
	}

	.single_news:hover .read_more_span {
		transform: translateX(0px);
		opacity: 1;
		margin-right: 6rem;
	}
	.my_image {
		width: 250px;
		margin-top: 80px;
	}
	.about_img {
		width: 80%;
		object-fit: contain;
	}
}

@media (min-width: 1024px) {
	.main {
		margin-left: 30%;
		margin-top: 100px;
	}
	.about_img {
		aspect-ratio: 2/0.9;
		width: 90%;
	}
	.portfolio_main {
		margin-top: -50px;
	}
	.news_main {
		width: 65%;
	}
}

@keyframes borderRadius {
	0% {
		border-radius: 20% 10% 60% 50%;
	}
	25% {
		border-radius: 30% 70% 40% 10%;
	}
	50% {
		border-radius: 60% 50% 10% 30%;
	}
	75% {
		border-radius: 10% 50% 20% 60%;
	}
	100% {
		border-radius: 40% 40% 40% 60%;
	}
}

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 20px;
}
